{%extends 'base_template'%}
{% block title%} Welcome : {{user.username}} {%endblock%}
{%block body%}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">

            <div class="p-5 border rounded-3 text-center">

                <h1 class="display-4 mb-3">Welcome,
                    <span class="text-primary" id="username-display">{{user.username}}</span>!
                </h1>

                <p class="lead">You have successfully logged in. This is your secured home page.</p>
                <hr class="my-4">
                <a href="/logout" id="logout-button" class="btn btn-danger btn-lg">
                    <i class="bi bi-box-arrow-right me-2"></i> Logout
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}