{%extends 'base_template'%}
{% block title%} Login {%endblock%}
{%block body%}
<form method="POST" action="/login" class="container-sm align-center my-5">
    <h2 class="my-3">
        Login Page
    </h2>

    <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
    <div class="form-group">
        <div class="mb-3">
            <label for="username" class="form-label">UserName</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="user-username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
    </div>
    <!--    <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">-->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}